<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Wait or Walk?</title>
		<link rel="stylesheet" href="{{url_for('static', filename='themes/Bootstrap.css')}}">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.min.css" />
		<link rel="stylesheet" href="{{url_for('static', filename='themes/jqm-icon-pack-1.1.1-fa.css')}}">
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	</head>
	<body>
		<div data-role="page" data-theme="a">
			<div data-role="header" data-position="inline">
				<h1>Wait or Walk?</h1>
			</div>
			<div data-role="content" data-theme="a">
				<h2>How it works</h2>

				<p>
					Wait or Walk simply compares the amount of time it would take to walk from your origin to your destination versus the amount of time until the next bus comes, plus how long it will take the bus to get there, plus the time for stops between. When calculating walking time, it will take shortcuts into account and find routes that cut across campus. 
					<br />
					<br />
					<a href="http://waitorwalk.com/">Back</a> <!--make sure to add / at end of url so routing works -->
					</p>

			</div>
		</div>
	</body>
</html>
