<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Wait or Walk?</title>

	<link rel="stylesheet" href="{{url_for('static', filename='themes/css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='themes/css/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='themes/css/bootstrap-responsive.css')}}">

	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{url_for('static', filename='themes/js/script.js')}}"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div class="container text-center">
				<h3>Should I wait or walk?</h3>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row text-center" id="setup">
			<div class="span12">
				<h2 id="originText">Where are you?</h2>
				<h2 class="hide" id="destinationText">Where are you going?</h2>
			</div>
		</div>

		<div class="hide" id="thinking">
			<div class="row text-center">
				<div class="span12">
					<h2>Thinking...</h2>
				</div>
			</div>
		</div>

		<div class="hide" id="results">
			<div class="row text-center">
				<div class="span12">
					<div class="hide" id="wait">
						<h2>You should wait.</h2>
						<h3>It'll be quicker to wait for the bus instead of walking.</h3>
					</div>
					<div class="hide" id="walk">
						<h2>You should walk.</h2>
						<h3>It'll be quicker to walk instead of waiting for the bus.</h3>
					</div>

					<h3 class="hide" id="rain">It looks rainy though, so if you can hang around for <span id="time"></span> minutes.</h3>
					<h3 class="hide" id="cold">It looks colds though, so if you can hang around for <span id="time"></span> minutes.</h3>
				</div>
			</div>

			<div class="row text-center" id="again">
				<div class="span12">
					<p><a class="btn btn-primary btn-large">Do it again.</a></p>
				</div>
			</div>
		</div>

		<div class="row" id="stops">
			<div class="span12">
				<a class="btn btn-primary btn-block btn-large" data-id="fitten">Fitten</a>
				<a class="btn btn-primary btn-block btn-large" data-id="mcm8th">McMillian &amp; 8th</a>
				<a class="btn btn-primary btn-block btn-large" data-id="8thhemp">8th &amp; Hemphill</a>
				<a class="btn btn-primary btn-block btn-large" data-id="fershemrt">Ferst &amp; Hemphill</a>
				<a class="btn btn-primary btn-block btn-large" data-id="fersstmrt">Ferst &amp; State</a>
				<a class="btn btn-primary btn-block btn-large" data-id="fersatmrt">Ferst &amp; Atlantic</a>
				<a class="btn btn-primary btn-block btn-large" data-id="ferschmrt">Klaus</a>
				<a class="btn btn-primary btn-block btn-large" data-id="5thfowl">Ferst &amp; Fowler</a>
				<a class="btn btn-primary btn-block btn-large" data-id="tech5th">Techwood &amp; 5th</a>
				<a class="btn btn-primary btn-block btn-large" data-id="tech4th">Techwood &amp; 4th</a>
				<a class="btn btn-primary btn-block btn-large" data-id="techbob">Techwood &amp; Bobby Dodd</a>
				<a class="btn btn-primary btn-block btn-large" data-id="technorth">Techwood &amp; North Ave</a>
				<a class="btn btn-primary btn-block btn-large" data-id="nortavea_a">North Ave Apartments</a>
				<a class="btn btn-primary btn-block btn-large" data-id="ferstcher">Tech Tower</a>
				<a class="btn btn-primary btn-block btn-large" data-id="hubfers">Hub/Ferst</a>
				<a class="btn btn-primary btn-block btn-large" data-id="centrstud">Student Center</a>
				<a class="btn btn-primary btn-block btn-large" data-id="765femrt">CRC</a>
			</div>
		</div>

		<div class="row footer">
			<div class="span12 text-center">
				<p>Cooked up by <a href="http://hscott.net">Hunter Scott</a>, <a href="http://vvohra.com"> Vidhur Vohra </a>, and Tanner Smith. Fork this on <a href="http://github.com/blueintegral/WaitOrWalk">Github</a>.</p>
			</div>
		</div>
	</div>
</body>
</html>
